  <div class="navbar">
    <a href="/auth/logout">Logout</a>
  </div>

  <div class="container my-5">
    <h1 class="text-center">TOP 5</h1>
    <form action="/search" method="GET">
      <div class="mb-3">
        <label for="movie" class="form-label">Película</label>
        <input id="movie" type="text" class="form-control" name="movie" />
      </div>
      <button type="submit" class="btn btn-primary">Buscar película</button>
    </form>
  </div>