body {
  padding: 50px;
  font: 14px "Montserrat", sans-serif; 
}

h1 {
  color: black;
  font-size: 16px;
}

.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.navbar a:hover {
  background-color: rgb(237, 242, 164);
  color: black;
  border-radius: 10px;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

.form-control {
  margin-right: 10px;
}

.form-label {
  color: white;
  font-size: 15px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 17px;
  font-size: 15px;
}


.btn-primary:hover {
  background-color: #0056b3;
}


/* estilos para la info del search*/
.movie-details {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.movie-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.movie-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.placeholder-image {
  width: 200px;
  height: 300px;
  background-color: #ddd;
  border-radius: 10px;
}


.info-label {
  font-weight: bold;
}


.movie-info {
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.movie-info h2 {
  margin-bottom: 10px;
}

.movie-info p {
  margin: 0;
  font-size: 18px;
}

.btn-green {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn-green:hover {
  background-color: #218838;
}

/* Estilos para los resultados de búsqueda */
#results {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

#results h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

#results ul {
  list-style: none;
  padding: 0;
}

#results li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#results img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#results a:hover {
  text-decoration: underline;
}

 */

#top p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
} 

.error-message {
  color: red;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilos para el perfil */
.container.profile {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

/* Estilo para cada top de películas */
.container.mt-5 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 0; /* Mover el cuadro de top hacia la izquierda */
  width: calc(100% - 40px); /* Usar todo el ancho menos los márgenes */
  box-sizing: border-box; /* Incluir bordes y relleno en el ancho total */
}


.container.mt-5 h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container.mt-5 ul {
  list-style: none;
  padding: 0;
}

.container.mt-5 li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container.mt-5 .movie-poster {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container.mt-5 .movie-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.container.mt-5 .btn-primary {
  background-color: #dc3545; /* Cambio de color a rojo */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.container.mt-5 .btn-primary:hover {
  background-color: #c82333; /* Cambio de color a rojo más oscuro en el hover */
}


/* Estilo para cada top de usuario en 'alltops' */
.top-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.top-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-box h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.top-box ul {
  list-style: none;
  padding: 0;
}

.top-box li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.top-box .movie-poster {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-box .movie-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.top-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.top-details h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.top-details ul {
  list-style: none;
  padding: 0;
}

.top-details li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.top-details .movie-poster {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-details .movie-info {
  flex: 1;
}

.top-details .movie-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.top-details .comments-section {
  margin-top: 30px;
}

.top-details .comments-list {
  list-style: none;
  padding: 0;
}

.top-details .comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-details .comment .author {
  font-weight: bold;
  margin-right: 10px;
}

.top-details .comment .delete-button {
  color: red;
  cursor: pointer;
  transition: color 0.2s;
}

.top-details .comment .delete-button:hover {
  color: darkred;
}

.top-details .add-comment-form {
  margin-top: 20px;
}

.top-details textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.top-details button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.top-details button[type="submit"]:hover {
  background-color: #0056b3;
}
.tops-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-link {
  text-decoration: none;
  color: inherit;
}


.top-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}

.movie-item {
  width: calc(20% - 20px); /* Each movie item takes 20% width with 20px gap */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to create space between rows */
}

.movie-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 350px; /* Adjust the value according to your needs */
}


.movie-item p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .top-movies {
    flex-direction: column;
  }
}

.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 250px;
}

.movie-info .movie-title {
  margin: 10px 0 0;
}



.add-comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.add-comment-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-comment-form button:hover {
  background-color: #0056b3;
}






