body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


h1 {
  color:rgb(110, 191, 215);
  font-size: 16px;
}

.navbar {
  /* background-color: #333; */
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Center the title */
.text-center {
  text-align: center;
}


.current-user {
  float: left; 
  color: white; 
  margin: 14px 16px; 
}

.image-container {
  display: flex; /* Utilizamos flexbox para centrar la imagen horizontalmente */
  justify-content: center; /* Centramos horizontalmente los elementos del contenedor */
  margin: 20px 0; /* Ajustamos el margen para separar el título y el contenedor de la imagen */
}

.image-container img {
  max-width: 100%; /* Hacemos que la imagen sea responsive ajustando su tamaño máximo */
  height: auto; /* Permitimos que la altura se ajuste automáticamente para mantener la proporción */
}